.sobrafo
    background #EBEDEE
    border-top 20px solid #fff
    padding 30px
    img
        max-width 100%
        display block
        margin 0 auto

footer
    background $laranja
    padding 35px 0
    border-top 20px solid #fff
    position relative
    z-index 5
    .wrapper
        display flex
        justify-content space-between
        margin-bottom 35px
    img
        align-self flex-start
        flex 0 0
        margin-right 35px
    .informacoes
        flex-shrink 0
        margin-right auto
        p
            color #fff
            lato 16
            margin 0
        span
        a
            display block
        a
            font-weight bold
    .termos
        width 50%
        margin-left 50px
        padding-left 44px
        border-left 1px solid #fff
        p
            margin-top 14px
            lato 14
            font-style italic
            color #fff
    .copyright
        border-top 1px solid #fff
        padding-top 10px
        p
            text-align center
            color #fff
            lato 9
            margin 0
    +tablet()
        .wrapper
            flex-wrap wrap
    +below($tablet)
        .termos
            width 100%
            border 0
            margin 20px 0 0
            padding 0
    +mobile()
        .informacoes
            margin-top 14px
            p
                font-size 15px
        .wrapper
            display block
        .links
            display none
