header {
    height: 200px;
    margin-bottom: 20px;

    .center, .wrapper {
        height: 100%;
        position: relative;
    }

    .wrapper {
        display: flex;
        align-items: center;
    }

    .logo img {
        display: block;
        max-width: 100%;
    }

    nav {
        margin-left: auto;
        margin-right: 45px;
        font-size: 0;

        a {
            background: $laranja;
            box-shadow: 0 0 0 3px #EBEDEE;
            padding: 6px 24px;
            lato: 18 bold;
            letter-spacing: 0.3px;
            color: #fff;
            border-radius: 40px;
            cursor: default;
            opacity: 0.7;
            transition: background 0.3s;

            &.nefrologia {
                padding: 6px 50px;
            }

            + a {
                margin-left: 12px;
            }

            &:hover {
                background: lighten($laranja, 5);
            }

            &:link {
                cursor: pointer;
                opacity: 1;
            }

            &.active {
                background: $cinza;
            }
        }
    }

    +below($tablet) {
        padding: 20px 0 40px;
        height: auto;

        .wrapper {
            display: block;
        }

        nav {
            margin: 20px 0 0;
        }
    }

    +mobile() {
        margin-bottom: 0;
        padding: 15px 0 30px;

        nav {
            display: block;

            a {
                display: block;
                font-size: 15px;
                padding: 8px 16px;

                + a {
                    margin: 4px 0 0;
                }
            }
        }
    }
}

.barra-cadastro {
    background: $cinza;
    transform: translateY(-2px);

    .center {
        height: 24px;
        text-align: right;
        lato: 12;
        color: #fff;

        span, a {
            display: inline-block;
            line-height: 24px;
            transition: none;
        }

        span {
            font-style: italic;
        }

        a:nth-child(2) {
            border-left: 1px solid rgba(#fff, 0.2);
            border-right: 1px solid rgba(#fff, 0.2);
            padding: 0 12px;
            margin: 0 12px;
        }

        a:last-child {
            border-right: 1px solid rgba(#fff, 0.2);
            padding-right: 30px;
            background: $img('logout.png') no-repeat center right 10px;
        }

        a:hover {
            color: rgba(#000, 0.5);
        }
    }

    +mobile() {
        height: 56px;

        .center {
            font-size: 0;

            span, a {
                font-size: 12px;
            }

            span {
                display: block;
                height: 32px;
                line-height: 32px;
            }

            a {
                border-top: 1px solid rgba(#fff, 0.2);

                &:nth-child(2) {
                    margin-right: 0;
                }

                &:last-child {
                    padding-left: 12px;
                }
            }
        }
    }
}

.barra-cadastro + .barra-perfil {
    border-top: 1px solid #fff;
}

.barra-perfil {
    background: $cinza;
    transform: translateY(-2px);
    lato: 24;
    color: #fff;
    padding: 0.35em 0;

    +mobile() {
        font-size: 18px;
    }
}

header.header-landing {
    +above($tablet) {
        &.header-fixed {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 9999;
            margin-bottom: 0;
            border-top: 2px solid $cinza;
            transition: all 0.3s ease;

            .logo img {
                transition: all 0.3s ease;
            }

            &.sticky {
                height: 100px;
                background: rgba(#EBEDEE, 0.9);
                box-shadow: 0 1px 5px rgba(#000, 0.2);

                .logo img {
                    height: 80px;
                }
            }
        }
    }

    +below($tablet) {
        nav a.active {
            background: $laranja;
        }
    }
}
