.sobre {
    .texto {
        max-width: 600px;
    }

    h1 {
        lato: 36 light;
        color: $cinza;
        margin: 0 0 36px;
        line-height: 1.2;
    }

    p {
        lato: 16;
        color: $cinza;
        margin: 0;

        + p {
            margin-top: 1.5em;
        }
    }

    a {
        color: $laranja;
        text-decoration: underline;
        transition: 0.1s ease-in-out;

        &:hover {
            font-weight: 600;
        }
    }

    img {
        max-width: 100%;
    }

    iframe {
        width: 800px;
        height: 450px;
        border: none;

        +below(1000px) {
            width: 600px;
            height: 330px;
        }

        +mobile() {
            width: 100%;
            height: 200px;
        }
    }

    +mobile() {
        h1 {
            font-size: 30px;
            margin: 0 0 24px;
        }
    }
}
